a{
            color: blue;
            text-decoration: none;
            
        }
        
        li{
            display: inline; /* inline olan yazıları yan yana getirmek için kullanılır. */
        }
h1{
    background-color: azure;
}